/* VARIABILI GLOBALI */
:root{
    --main-color: #1566C0;
    --secondary-color: rgb(241, 177, 37);
    --accent-color: white;
    --header-bg-w: 955;
    --header-bg-h: 473;
    --header-hw-ratio: calc(var(--header-bg-h)/var(--header-bg-w));    
}

/* FORMATTAZIONE GENERALE */
*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin:0;
    padding:0;
    background-color: white;
    color:#555;
}
a, a:active, a:hover, a:visited{
    color:var(--accent-color);
    text-decoration:none;
    margin:0;
    padding:0;
}

/* FORMATTAZIONE CUSTOM */
.text-main {
    color:var(--main-color);
}
.text-secondary-custom{
    color:var(--secondary-color);
}
.text-accent{
    color:var(--accent-color);
}
.bg-main{
    background-color: var(--main-color);
}
.bg-secondary-custom{
    background-color:var(--secondary-color);
}
.button{
    padding:.55rem 2.2rem;
    font-size:1.12rem;
}

/* HEADER */
h1, h2, h3, h4, .h1, .h2, .h3, .h4{
    font-family: 'Righteous', cursive;
}
h1{
    font-size:6.2vw;
}
header{
    position:relative;
    width:100vw;
    max-width:100%;
    height:calc(100vw * var(--header-hw-ratio));
    padding-bottom:0px;
    overflow:hidden;
    background-image: linear-gradient(#000, transparent 99%, white 99%), url(./media/header.jpg);
    background-size:cover;
    background-position:center;
}
header>.row{
    height:78%;
}
header>#wave1{
    position:absolute;
    bottom:-7vw;
}
header>#wave2{
    position:absolute;
    bottom:-8.2vw;
}
header .button{
    color:#222;
    transition: box-shadow .2s ease-out;
}
header .button:hover{
    box-shadow: 0px 0px 10px 1px var(--secondary-color);
}

/* CARDS */
.cards .card-col{
    display:flex;
    padding:0;
    justify-content:center;
}
.cards .card-body-custom{
    --card-width: calc((100vw - 4rem - 6rem)/4);
    --card-wh-ratio: 0.77;
    width:calc(100% - 1rem);
    min-height:calc(var(--card-width)/var(--card-wh-ratio));
    margin-top:1.5rem;
    background-size:cover;
    background-position:center;
    box-shadow:10px 10px 70px rgba(0, 0, 0, 0.27);
    transition: .3s cubic-bezier(0.19, -.3, 0.22, 1.8)
}
.cards .card-body-custom:hover{
    box-shadow:15px 15px 70px 5px rgba(0, 0, 0, 0.27);
    transform: scale(1.1);
}
.cards>div:nth-child(1)>.card-body-custom{
    background-image:linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 1)), url(./media/1.png);
}
.cards>div:nth-child(2)>.card-body-custom{
    background-image:linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 1)), url(./media/2.png);
}
.cards>div:nth-child(3)>.card-body-custom{
    background-image:linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 1)), url(./media/3.png);
}
.cards>div:nth-child(4)>.card-body-custom{
    background-image:linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 1)), url(./media/4.png);
}
.card-icon-custom{
    margin-top:20%;
}
.card-title-custom{
    margin-top:5%;  
}
.card-title-custom>a{
    transition:.2s;
}
.card-title-custom>a:hover{
    color:var(--secondary-color);   
}
.card-text-custom{
    margin-top:30%;
}
.cards hr{
    height:3px;
    color:var(--secondary-color);
    opacity:1;
}
.px-6{
    padding-left: calc(3rem + 1vw);
    padding-right: calc(3rem + 1vw);
}

/* ICONE COLOR */
.tab{
    padding:1rem;
    border: 1px solid #FDfDfD;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.158);
}
.collapse-tab{
    padding:0;
}
.icon-box{
    max-height:220px;
}
.colored-icon span{
    display:flex;
    justify-content:center;
    align-items:center;
    min-width:70px;
    min-height:70px;
    max-width:90px;
    max-height:90px;
    width:7vw;
    height:7vw;   
    margin:0;
    padding:0;
    border: 1px solid #FDfDfD;
    border-radius:20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.158);
    transition: .6s cubic-bezier(0.19, 1, 0.22, 1);
}
.colored-icon>a:hover>span{
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.158);
    transform: rotateY(180deg);
}
#flame{
    color: #dc3545;
}
a:hover>#flame{
    background-color: #dc3545;
    color:var(--accent-color);  
}
#plant{
    color: #198754;
}
a:hover>#plant{
    background-color: #198754;
    color:var(--accent-color);
}
#bell{
    color: #ffc107;
}
a:hover>#bell{
    background-color: #ffc107;
    color:var(--accent-color);
}
#box{
    color: #0d6efd;
}
a:hover>#box{
    background-color: #0d6efd;
    color:var(--accent-color);
}
#branch{
    color: #6c757d;
}
a:hover>#branch{
    background-color: #6c757d;
    color:var(--accent-color);
}
#shield{
    color: #212529;
}
a:hover>#shield{
    background-color: #212529;
    color:var(--accent-color);
}

/* BUBBLES */
.bubble-box>.tab{
    border: 1px solid lightgrey;
}
.bubble{
    color: rgb(33, 37, 41);
}
.bubble>p:first-child{
    color:var(--main-color);
}
.bubble>p:nth-child(2){
    margin-bottom:1rem;
}
.offset-md-right-1{
    margin-right: 8.3333333333%;
}
.offset-md-right-custom{
    margin-right: 13%;
}

/* ALTERNATE DIVS */
.alternate-div img{
    padding: 1.5%;
    border: .4rem solid var(--main-color);
    border-radius:50%;
}

/* TIMELINE */
.timebar{
    --bar-width: 6px;
    display:block;
    position:absolute;
    top:0;
    left:calc(50% - var(--bar-width) / 2);
    width:var(--bar-width);
    height:100%;
    margin:0;
    padding:0;
}
.event-row{
    margin-bottom: 6rem;  
}
.event-row:last-child{
    margin-bottom: 3rem;
}
.event-row>.col-12{
    position:relative;   
}
.event-row>.col-12::before{
    --circle-diam: 3rem;
    --circle-border: 4px;
    --circle-offset-x: calc(var(--circle-diam)/2 + var(--circle-border)/2);
    --circle-offset-y: -3rem;
    content:'';
    display:block;
    position:absolute;
    width:var(--circle-diam);
    height:var(--circle-diam);
    background-color:var(--accent-color);
    border:var(--circle-border) solid var(--main-color);
    border-radius:50%;
    transition: 150ms linear;
}
.event-row:hover>.col-12::before{
    background-color:var(--secondary-color);
    transform:scale(1.2);
}
.event-row:nth-child(odd){
    flex-direction:row-reverse;
    padding-left:1rem;
    text-align:right;
}
.event-row:nth-child(even){
    padding-right:1rem;
}
.event-row:nth-child(odd)>.col-12::before{   
    top:var(--circle-offset-y);
    left:calc(var(--circle-offset-x) * -1);
}
.event-row:nth-child(even)>.col-12::before{   
    top:var(--circle-offset-y);
    right:calc(var(--circle-offset-x) * -1);
}
.subscribe{
    margin-top:10px;
    margin-bottom:15px;
}
.subscribe .button{
    display:inline-block;
    padding:1rem 3.5rem;
    font-size:1.2rem;
    font-weight:400;
    color:var(--accent-color);
    transition: .2s ease-in-out;
}
.subscribe .button:hover{
    box-shadow: 0px 0px 10px 1px var(--main-color);
}

/* FOOTER */
footer{
    height:500px;
    background-image:linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .85)), url(./media/footer.jpg);
    background-size:cover;
    background-position:center;
}
.footer-text{
    font-size:.9rem;
}
footer .icon{
    padding: 1rem 1rem;
    color:var(--accent-color);
    transition: .2s ease-out;
}
footer .icon:hover{
    transform:scale(1.4);
}



/* MEDIA QUERIES */

/* xs screens */
@media screen and (max-width:575px){
    h1{
        font-size:9vw;
    }
    header{
        height:290px;   
        font-size:.9rem;
    }
    .lead-custom{
        font-size:.9rem;
    }
    header>.row{
        padding-top:15px;
        padding-left: 5px;
    }
    .cards .card-body-custom{
        --card-width: calc(100vw - 1rem - 6rem);
    }
    .colored-icon span{
        min-width:60px;
        min-height:60px;
    }
    footer .icon{
        font-size:1.1rem;
    }
    .footer-text{
        font-size:1rem;
    }
}

/* sm screens */
@media screen and (max-width:767px){
    .cards .card-body-custom{
        --card-width: calc((100vw - 2rem - 6rem)/2);
    }
    .icon-box>.row:last-child{
        margin-top:1.5rem;
    }
    .offset-md-right-1{
        margin-right:0px;
    }
    .offset-md-right-custom{
        margin-right:0px;
    }
    .timebar{
        left:0;
    }
    .event-row{
        padding-right:0;
        padding-left:1rem !important;
        text-align:left;
    }
    .event-row>.col-12{
        text-align:left;
    }
    .event-row>.col-12::before{
        left:-2.3rem !important;
        top:-3.2rem !important;    
    }
}

/* lg screens */
@media screen and (min-width: 1600px){
    .card-text-custom{
        font-size:1.3vw;
    }
}
